
.paycheck .dates> div{
    margin: 0 40px;
}

.paycheck .table{
    display: flex;
    margin: 20px auto auto auto;
    justify-content: center;
    overflow-x: scroll;
}

.paycheck table{
    display: block;
    width: 1000px;
}

.paycheck td{
    padding: 5px;
    width: 150px;
}

.paycheck tr{
    height: 40px;
    border: 1px solid black;
}

.paycheck tr:nth-child(even)>td{
    background-color: white;
    color: green;
}
.paycheck tr:nth-child(odd)>td{
    background-color: green;
    color: white;
}

.paycheck .summery{
    justify-content: space-around;
}
