*:not(.alert img) {
  background-color: #282c34;
  color: aliceblue;
}

.App {
  margin: 5px;
  text-align: center;
  direction: rtl;
}

.row {
  justify-content: center;
  display: flex;
  margin: 10px;
}

button{
  cursor: pointer;
}

.form h1 {
    color: white;
    text-shadow: 4px 4px 4px black;
}