*:not(.alert div, .alert svg) {
  background-color: #282c34;
  color: aliceblue;
}

.alert button{
  background-color: black;
  border-radius: 50px;
  width: 20px;
  height: 20px;
}

.alert div{
  color: #282c34;
}

.App {
  margin: 5px;
  text-align: center;
  direction: rtl;
}

.row {
  justify-content: center;
  display: flex;
  margin: 10px;
}

button{
  cursor: pointer;
}

h1 {
    color: white;
    text-shadow: 4px 4px 4px black;
}